In [7]:
print(sum(range(101)))

5050

In [8]:
name = "Hello, Python"

In [9]:
birth = 1990

In [10]:
age = 2017 - birth

In [11]:
print(name, age)

Hello, Python 27

In [13]:
# Data Types _ 목적에 맞는 데이터타입을 사용해야 한다.

Numeric type -> int, float,

In [14]:
10/3 #3

3.3333333333333335

In [15]:
10//3

3

사칙연산

In [16]:
10 * 2

20

In [17]:
3 // 10

0

In [18]:
30 // 4

7

Boolean Type(참/거짓)

In [19]:
a = []

In [20]:
b = []

In [21]:
id(a), id(b)

(783998607944, 784013602312)

In [22]:
a == b

True

In [23]:
a is b

False

In [24]:
c = d

NameError: name 'd' is not defined

In [25]:
c = b

In [26]:
id(a), id(b), id(c)

(783998607944, 784013602312, 784013602312)

In [27]:
c is b # 참조비교

True

In [28]:
True and False

False

In [29]:
True or False

True

In [30]:
not True

False

In [31]:
3>10

False

In [32]:
30 >= 10

True

String type 문자열

In [33]:
name1 = 'python'

In [34]:
name2 = "python"

In [35]:
name1 == name2

True

In [36]:
name1

'python'

In [37]:
name2

'python'

In [38]:
'i\'m Tom'

"i'm Tom"

In [39]:
print('I\'m Tom')

I'm Tom

In [40]:
lyrics1 = '''the now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I\'M the qUEEN'''

In [41]:
print(lyrics11)

NameError: name 'lyrics11' is not defined

In [42]:
print(lyrics1)

the now glows white on the mountain tonight
Now a footprint to be seen A kingdom of isolation
and it looks like I'M the qUEEN

In [43]:
'{0},{1},{2}'.format('a','b','c')

'a,b,c'

In [44]:
'{1},{2},{1}'.format('a','b','c')

'b,c,b'

In [45]:
'{2},{1},{0}'.format(*'abc')

'c,b,a'

In [46]:
'{},{},{}'.format('a','b','c')

'a,b,c'

In [47]:
'Coordinates:{lat},{lng}'.format(lat='37.24N', lng='-115.53W')

'Coordinates:37.24N,-115.53W'

In [49]:
print('Coordinates: {lat},{lng}'.format(lat='22.42S', lng='33.42W'))

Coordinates: 22.42S,33.42W

In [50]:
coord = {'lat': '37.24N','lng': '-115.42E'}

In [51]:
'Coordinates:{lat},{lng}'.format(**coord)

'Coordinates:37.24N,-115.42E'

In [53]:
print('Coordinates:{lat},{lng}'.format(**coord))

Coordinates:37.24N,-115.42E

In [54]:
water

NameError: name 'water' is not defined

In [55]:
if False:
    water = 10
water

NameError: name 'water' is not defined

In [56]:
if True:
    water = 10
water

10

## 기본자료구조 : list, set, dict, tuple

in 연산자로 멤버십 테스트를 지원

In [57]:
'hello' in 'hello world'

True

In [58]:
'h' in 'hello world'

True

list 생성문법:[]

In [59]:
numbers = [1,3,5,7]

In [60]:
numbers

[1, 3, 5, 7]

In [61]:
print(numbers)

[1, 3, 5, 7]

In [62]:
3 in numbers

True

In [63]:
4 in numbers

False

색인지원, 0 부터 시작하여 1씩 증가, 음수색인지원(끝에서 시작하여 -1부터 1씩 감소)

In [64]:
print(numbers[0], numbers[-2])

1 5

In [65]:
numbers[-3]

3

In [66]:
print(len(numbers))

4

In [67]:
numbers2 = [1,2,3,4,[5,6,7],8,9,10]

In [68]:
print(len(numbers2))

8

In [69]:
print(numbers2[5])

8

In [70]:
print(numbers2[4])

[5, 6, 7]

In [71]:
for i in numbers:  #in 다음에 container
    print(i)

1
3
5
7

In [72]:
for i in numbers2:
    print(i)

1
2
3
4
[5, 6, 7]
8
9
10

In [73]:
numbers

[1, 3, 5, 7]

In [74]:
numbers2

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10]

In [75]:
numbers[5]

IndexError: list index out of range

In [76]:
numbers=[1,3,5,7,5]

In [77]:
numbers[0]=10

In [78]:
numbers.append(9)

In [79]:
numbers.pop(3)

7

In [80]:
numbers.remove(5)

In [81]:
numbers.insert(3,11)

In [82]:
print(numbers)

[10, 3, 5, 11, 9]

## 데이터변경: append, pop, remove, insert

### 값을 잘라내기

## 합치기

In [83]:
'hello' + 'world'

'helloworld'

In [84]:
['a','b']+['c','d']

['a', 'b', 'c', 'd']

In [85]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [86]:
numbers = [3:]

SyntaxError: invalid syntax (<ipython-input-86-e67c5b1e6dac>, line 1)

In [87]:
numbers[3:]

[4, 5, 6, 7, 8, 9, 10]

In [88]:
numbers[1:3] #1번인덱스 이상, 3번인덱스 미만

[2, 3]

In [89]:
numbers[1:8]

[2, 3, 4, 5, 6, 7, 8]

In [90]:
numbers[1:8:3]

[2, 5, 8]

## list comprehension

In [91]:
numbers1 = [1,3,5,7]

In [92]:
numbers2 = [2,4,6,8]

In [94]:
i = 0
result = []
for i in range(len(numbers1)):
    result.append(numbers1[i] + numbers2[i])
result

[3, 7, 11, 15]

In [95]:
[(i+j) for (i,j) in zip(numbers1, numbers2)]

[3, 7, 11, 15]

## tuple

In [96]:
numbers = (1,3,5,7,9)

In [97]:
numbers

(1, 3, 5, 7, 9)

In [98]:
numbers = 1,3,5,7,9   #중요한것은 콤마! not 소괄호

In [99]:
numbers

(1, 3, 5, 7, 9)

In [100]:
numbers = (1,2,3,4,5,6,7,8,9,10)

In [101]:
v1,v2,v3,v4,v5,v6,v7,v8,v9,v10 = numbers

In [102]:
v1

1

In [103]:
v1, v2, v3, v4, *others = numbers

In [104]:
others

[5, 6, 7, 8, 9, 10]

In [105]:
v4

4

In [113]:
v1, v2, v3, v4 = numbers[:4]

In [114]:
v1

1

In [115]:
v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, v13, v14 = (*numbers, 11, 12, 13, 14)

In [116]:
v13

13

In [117]:
x, y = 1, 2

In [118]:
x, y = y, x

In [119]:
y

1

## Set(집합형)

In [120]:
# 중복을 제거하고자 할 때에는 set을 활용하면 유용하다

In [121]:
set_numbers = {1,3,4,5,1,4,2,5,6}

In [122]:
set_numbers

{1, 2, 3, 4, 5, 6}

In [123]:
list_numbers = [1,1,2,1,4,2,5,3,6,7]

In [124]:
list_numbers = set(list_numbers)

In [125]:
list_numbers

{1, 2, 3, 4, 5, 6, 7}

In [126]:
list(list_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [1]:
set_numbers1 = {1,2,3,4,5,6,7,8,9}
set_numbers2 = {1,3,5,7,9,11,13,15,17,19}

In [3]:
print(set_numbers1 - set_numbers2)

{8, 2, 4, 6}

In [4]:
print(set_numbers1 & set_numbers2)

{1, 3, 5, 9, 7}

In [6]:
print(set_numbers1 | set_numbers2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 15, 17, 19}

In [7]:
print(set_numbers1 ^ set_numbers2)

{2, 4, 6, 8, 11, 13, 15, 17, 19}

## dict

In [8]:
key_values = {'blue':1, 'red':11, 'yellow':3}

In [10]:
for key in key_values:
    print(key)

red
yellow
blue

In [14]:
for value in key_values.values():
    print(value)

11
3
1

In [15]:
for (key, value) in key_values.items():
    print(key, value)

red 11
yellow 3
blue 1

# 흐름 제어

In [20]:
number = -2

In [21]:
if number>0:
    print('양수')
elif number<0:
    print('음수')
elif number==0:
    print('0')

음수

In [26]:
number = int(input('숫자를 입력하시오 : '))

숫자를 입력하시오 : -3

In [27]:
print(number)

-3

In [30]:
if number > 0:
    print('%d는 양수이다' % number)
elif number < 0:
    print('%d는 음수이다' % number)
else :
    print('%d는 0이다.' % number)

-3는 음수이다

In [32]:
for i in range(2,10,2):
    print (i)

2
4
6
8

In [41]:
for i in range(2,10,2):
    for j in range(1,20):
        print ((i, '*', j, '=',i*j))

(2, '*', 1, '=', 2)
(2, '*', 2, '=', 4)
(2, '*', 3, '=', 6)
(2, '*', 4, '=', 8)
(2, '*', 5, '=', 10)
(2, '*', 6, '=', 12)
(2, '*', 7, '=', 14)
(2, '*', 8, '=', 16)
(2, '*', 9, '=', 18)
(2, '*', 10, '=', 20)
(2, '*', 11, '=', 22)
(2, '*', 12, '=', 24)
(2, '*', 13, '=', 26)
(2, '*', 14, '=', 28)
(2, '*', 15, '=', 30)
(2, '*', 16, '=', 32)
(2, '*', 17, '=', 34)
(2, '*', 18, '=', 36)
(2, '*', 19, '=', 38)
(4, '*', 1, '=', 4)
(4, '*', 2, '=', 8)
(4, '*', 3, '=', 12)
(4, '*', 4, '=', 16)
(4, '*', 5, '=', 20)
(4, '*', 6, '=', 24)
(4, '*', 7, '=', 28)
(4, '*', 8, '=', 32)
(4, '*', 9, '=', 36)
(4, '*', 10, '=', 40)
(4, '*', 11, '=', 44)
(4, '*', 12, '=', 48)
(4, '*', 13, '=', 52)
(4, '*', 14, '=', 56)
(4, '*', 15, '=', 60)
(4, '*', 16, '=', 64)
(4, '*', 17, '=', 68)
(4, '*', 18, '=', 72)
(4, '*', 19, '=', 76)
(6, '*', 1, '=', 6)
(6, '*', 2, '=', 12)
(6, '*', 3, '=', 18)
(6, '*', 4, '=', 24)
(6, '*', 5, '=', 30)
(6, '*', 6, '=', 36)
(6, '*', 7, '=', 42)
(6, '*', 8, '=', 48)
(6, '*', 9, '=', 54)
(6, '*', 10, '=', 60)
(6, '*', 11, '=', 66)
(6, '*', 12, '=', 72)
(6, '*', 13, '=', 78)
(6, '*', 14, '=', 84)
(6, '*', 15, '=', 90)
(6, '*', 16, '=', 96)
(6, '*', 17, '=', 102)
(6, '*', 18, '=', 108)
(6, '*', 19, '=', 114)
(8, '*', 1, '=', 8)
(8, '*', 2, '=', 16)
(8, '*', 3, '=', 24)
(8, '*', 4, '=', 32)
(8, '*', 5, '=', 40)
(8, '*', 6, '=', 48)
(8, '*', 7, '=', 56)
(8, '*', 8, '=', 64)
(8, '*', 9, '=', 72)
(8, '*', 10, '=', 80)
(8, '*', 11, '=', 88)
(8, '*', 12, '=', 96)
(8, '*', 13, '=', 104)
(8, '*', 14, '=', 112)
(8, '*', 15, '=', 120)
(8, '*', 16, '=', 128)
(8, '*', 17, '=', 136)
(8, '*', 18, '=', 144)
(8, '*', 19, '=', 152)